@charset "UTF-8";

.header {
  padding: 10px;
  background-color: gray;
  }

.header-right {
  display: inline-block;
  font-size: 10px;
  padding: 10px;
  color: black;
}

.header-left {
  padding: 10px;
  color: white;
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer {
  padding: 10px;
  color: white;
  background-color: gray;
}

.footer-label {
  display: inline-block;
  padding: 10px;
  color: white;
}