@media screen and (max-width: 479px) {

  .header {
    width: 200px;
    height: 200px;
  }

  .headbox {
    width: 60px;
    height: 160px;
    position: relative;
    left: 70px;
  }

  .head1 {

  }

  .head2 {
    position: relative;
    top: 20px;
    left: 10px;
  }

  .head3 {
    position: relative;
    top: 30px;
    left: 10px;
  }

  .main-left {
    width: 200px;
    height: 100px;
    float: none;
  }

  .main-right {
    width: 200px;
    height: 210px;
  }

  .mainbox {
    position: relative;
    top: 20px;
    left: 30px;
  }

  .main1 {
    width: 130px;
  }

  .main2 {
    width: 130px;
  }

  .main3 {
    width: 130px;
  }

  .footer {
    width: 200px;
  }
}