* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

.headbox {
  width: 160px;
  height: 60px;
  background-color: white;
  float: left;
  position: relative;
  top: 20px;
  left: 220px;
}

.head1 {
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  float: left;
  position: relative;
  top: 10px;
  left: 10px;
}

.head2 {
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  float: left;
  position: relative;
  top: 10px;
  left: 20px;
}

.head3 {
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  position: relative;
  top: 10px;
  left: 30px;
  float: left;
}

.main-left {
  width: 150px;
  height: 250px;
  background-color: #80bfa8;
  float: left;
}

.main-right {
  width: 250px;
  height: 250px;
  background-color: #8c2727;
  float: left;
}

.mainbox {
  float: left;
  position: relative;
  top: 40px;
  left: 40px;
}

.main1 {
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: solid 5px white;
}

.main2 {
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: solid 5px white;
  position: relative;
  top: 10px;
}

.main3 {
  width: 140px;
  height: 40px;
  background-color: #ff863f;
  border: solid 5px white;
  position: relative;
  top: 20px;
}

.footer {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}