* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header{
  width: 400px;
  height: 100px;
  background-color: #141f40;
}

.main-left{
  width:150px;
  height: 250px;
  background-color:#80bfa8;
  float: left;
}

.main-right{
  width: 250px;
  height: 250px;
  float: left;
}

.main-right-upper{
  width: 250px;
  height: 150px;
}

.right-upper-left{
  height: 150px;
  width: 150px;
  background-color: black;
  float:left;
}

.upper1{
  width: 150px;
  height: 50px;
  background-color: #dbd400;
}

.upper2{
  height: 100px;
  width: 150px;
  background-color: #0093b7;
}

.right-upper-right{
  width: 100px;
  height: 150px;
  background-color: #ff9e6b;
  float: right;
}

.main-right-lower{
  width:250px;
  height:100px;
  background-color:#8c2727;
  float: left;
}

.footer{
  width:400px;
  height: 100px;
  background-color: #d98d30;
}
